<ion-view view-title="Settings">
  <ion-content>
    <div class="scroll padding">
      <h4 id="settings-heading4" style="color:#000000;" class=" ">Temperature</h4>
      <form id="settings-form4" class="list ng-pristine ng-valid">
        <label class="item item-radio" id="settings-radio1">
          <input type="radio" name="radio-group" ng-value="setup.temperatureFormat" ng-model="setup.temperatureFormat" ng-change="rbTempChangeHandler('celsius')">
          <div class="radio-content">
            <div class="item-content disable-pointer-events" >
              <span>Degree Celsius</span>
            </div>
            <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
          </div>
        </label>
        <label class="item item-radio" id="settings-radio2">
          <input type="radio" name="radio-group" ng-value="setup.temperatureFormat" ng-model="setup.temperatureFormat" ng-change="rbTempChangeHandler('farenheit')">
          <div class="radio-content">
            <div class="item-content disable-pointer-events">
              <span>Farenheit</span>
            </div>
            <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
          </div>
        </label>
      </form>
      <h4 id="settings-heading5" style="color:#000000;" class=" ">Notify me in the morning at</h4>
      <form id="settings-form5" class="list ng-pristine ng-valid">
        <label class="item item-input " id="settings-input3">
          <span class="input-label" aria-label="AM" id="_label-2">AM</span>
          <input type="time" placeholder="HH:mm AM" ng-model="setup.morningNotificationTime" >
        </label>
      </form>
      <h4 id="settings-heading6" style="color:#000000;" class=" ">Notify me in the evening at</h4>
      <form id="settings-form6" class="list ng-pristine ng-valid">
        <label class="item item-input " id="settings-input5">
          <span class="input-label" aria-label="PM" id="_label-3">PM</span>
          <input type="time" placeholder="HH:mm PM" ng-model="setup.eveningNotificationTime" >
        </label>
      </form>
      <button class="button button-positive  button-block icon ion-arrow-swap"
      ng-click="notifyMe()">Notify in 10 sec</button>
    </div>
  </ion-content>
</ion-view>
